{% extends 'base.html' %}
{% load static %}
{% block title %}Rifles{% endblock %}

{% block content %}

<div class="row">
			{% for p in prods %}
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="{{p.img.url}}" height="300px" alt=""></a>
					</div>
					<h3>{{p.all_name}}</h3>
					<p class="product-price"><span>Per piece</span> {{p.price}} </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
            {% endfor %}
		</div>

{% endblock %}