{% extends 'base.html' %}
{% load static %}
{% block title %}HOME{% endblock %}

{% block content %}

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a></li>
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'category_page' %}">Category</a>
									{% block catsub %}
									<ul class="sub-menu">
										{% for c in cato %}
										<li><a href="{% url 'scategory_page' c.name %}">{{c.name}}</a></li>
<!--										<li><a href="about.html">About</a></li>-->
<!--										<li><a href="cart.html">Cart</a></li>-->
<!--										<li><a href="checkout.html">Check Out</a></li>-->
<!--										<li><a href="contact.html">Contact</a></li>-->
<!--										<li><a href="news.html">News</a></li>-->
<!--										<li><a href="shop.html">Shop</a></li>-->
											{% endfor %}
									</ul>
									{% endblock %}

								</li>
								<li><a href="">Account</a>
									<ul class="sub-menu">
										{% if user.is_authenticated %}
										<li><a href="{% url 'logout'%}">Log out</a></li>
										{% else %}
										<li><a href="{% url 'login' %}">Login</a></li>
										<li><a href="{% url 'register' %}">Register</a></li>
										{% endif %}
									</ul>
								</li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
								<li><a href="{% url 'shop' %}">Shop</a>
									<ul class="sub-menu">
										<li><a href="{% url 'cartpage' %}">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{% url 'cartpage' %}"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area" >
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<form action="{% url 'search_page' %}">
							<input name="q" type="text" placeholder="Keywords">
							<button type="submit" >Search <i class="fas fa-search"></i></button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
{% block hero %}
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Get your favorites delivered to your door,<br> or pickup at a store near you</p>
							<h1>NO TERRITORY UNEXPLORED</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Collection</a>
								<a href="contact.html" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over 575</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Our</span> Products</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% for p in prod %}
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="{% url 'singleproduct' p.all_name  %}"><img src="{{p.img.url}}" height="300px" alt=""></a>
					</div>
					<h3>{{p.all_name}}</h3>
					<p class="product-price"><span>Per piece</span> {{p.price}} </p>
<!--					<p class="product-price"><span>OFFER</span> {{p.discount_p}} </p>-->
<!--					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
				</div>
			</div>
			{% endfor %}
		</div>
<!--		pagination starts-->
		<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
									<li class="page-item"><a class="page-link" href="?page=1">First</a></li>
			  		   				{% if prod.has_previous %}
					 				<li class="page-item"><a class="page-link" href="?page={{prod.previous_page_number}}">Previous</a></li>
			  						{% endif %}
									{% for i in num %}
									<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
	  								{% endfor %}
	  								{% if prod.has_next %}
    								<li class="page-item"><a class="page-link" href="?page={{prod.next_page_number}}">Next</a></li>
	  								{% endif %}
   					 				<li class="page-item"><a class="page-link" href="?page={{tot}}">Last</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--		pagination end-->

		<!-- cart banner section -->
		<section class="cart-banner pt-100 pb-100">
			<div class="container">
				<div class="row clearfix">
					<!--Image Column-->
					<div class="image-column col-lg-6">
						<div class="image">
							<div class="price-box">
								<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> Discont in every deal
                                </span>
								</div>
							</div>
							<img src="{% static 'assets/img/1.jpg' %}" alt="">
						</div>
					</div>
					<!--Content Column-->
					<div class="content-column col-lg-6">
						<h3><span class="orange-text">Deal</span> of the month</h3>
						<h4>Hikan Strwaberry</h4>
						<div class="text">Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem accusant</div>
						<!--Countdown Timer-->
						<div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
						<a href="{% url 'cartpage' %}" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>
		</section>
		<!-- end cart banner section -->

		<!-- testimonail-section -->
		<div class="testimonail-section mt-150 mb-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="testimonial-sliders">
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="assets/img/avaters/avatar1.png" alt="">
								</div>
								<div class="client-meta">
									<h3>Saira Hakim <span>Local shop owner</span></h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="assets/img/avaters/avatar2.png" alt="">
								</div>
								<div class="client-meta">
									<h3>David Niph <span>Local shop owner</span></h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="assets/img/avaters/avatar3.png" alt="">
								</div>
								<div class="client-meta">
									<h3>Jacob Sikim <span>Local shop owner</span></h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end testimonail-section -->

		<!-- advertisement section -->
		<div class="abt-section mb-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="abt-bg">
							<a href="https://cdn.pixabay.com/vimeo/142621176/clothing-1006.mp4?width=480&hash=6853738f78458476bd619c4358396252a0749a5f" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="abt-text">
							<p class="top-sub">Since Year 2000</p>
							<h2>We are <span class="orange-text">INDIAN ARMOURY</span></h2>
							<p>With reverence for the legacy of The Armory, the Indian Armoury family resurrected the
								most historically significant designs produced by The Armory – M1 Garand, 1911-A1, M14.
								Fueled by the same obsession for improved manufacturing techniques and cutting edge
								design that inspired the likes of John C. Garand, and John Browning, they have continued
								to develop products that are loyal to Springfield Armory’s heritage while ensuring
								The Armory’s place in the progression of Indian firearms..</p>
							<a href="about.html" class="boxed-btn mt-4">know more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end advertisement section -->

		<!-- shop banner -->
		<section class="shop-banner">
			<div class="container">
				<h3> <br> <span class="orange-text"></span></h3>
				<div class="sale-percent"><span><br> </span> <span></span></div>
				<a href="{% url 'category_page' %}" class="cart-btn btn-lg">Shop</a>
			</div>
		</section>
		<!-- end shop banner -->

		<!-- latest news -->
		<div class="latest-news pt-150 pb-150">
			<div class="container">

				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="section-title">
							<h3><span class="orange-text">Our</span> News</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-latest-news">
							<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
							<div class="news-text-box">
								<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
								<p class="blog-meta">
									<span class="author"><i class="fas fa-user"></i> Admin</span>
									<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
								</p>
								<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
								<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-latest-news">
							<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
							<div class="news-text-box">
								<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
								<p class="blog-meta">
									<span class="author"><i class="fas fa-user"></i> Admin</span>
									<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
								</p>
								<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
								<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
						<div class="single-latest-news">
							<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
							<div class="news-text-box">
								<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
								<p class="blog-meta">
									<span class="author"><i class="fas fa-user"></i> Admin</span>
									<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
								</p>
								<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
								<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="news.html" class="boxed-btn">More News</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end latest news -->

		<!-- logo carousel -->
		<div class="logo-carousel-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="logo-carousel-inner">
							<div class="single-logo-item">
								<img src="assets/img/company-logos/1.png" alt="">
							</div>
							<div class="single-logo-item">
								<img src="assets/img/company-logos/2.png" alt="">
							</div>
							<div class="single-logo-item">
								<img src="assets/img/company-logos/3.png" alt="">
							</div>
							<div class="single-logo-item">
								<img src="assets/img/company-logos/4.png" alt="">
							</div>
							<div class="single-logo-item">
								<img src="assets/img/company-logos/5.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end logo carousel -->
{% endblock %}

		<!-- footer -->
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="footer-box about-widget">
							<h2 class="widget-title">About us</h2>
							<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">Get in Touch</h2>
							<ul>
								<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
								<li>support@gamil.com</li>
								<li>+00 111 222 3333</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">Pages</h2>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'shop' %}">Shop</a></li>
								<li><a href="news.html">News</a></li>
								<li><a href="{% url 'contact' %}l">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box subscribe">
							<h2 class="widget-title">Subscribe</h2>
							<p>Subscribe to our mailing list to get the latest updates.</p>
							<form action="index.html">
								<input type="email" placeholder="Email">
								<button type="submit"><i class="fas fa-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->

		<!-- copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
							Distributed By - <a href="https://themewagon.com/">Themewagon</a>
						</p>
					</div>
					<div class="col-lg-6 text-right col-md-12">
						<div class="social-icons">
							<ul>
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end copyright -->

	</div>
{% endblock %}