{% extends 'index.html' %}
{% load static %}
{% block title %}Contact us {% endblock %}

{% block hero %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Latest trends with legacy</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">our</span> Products</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% for p in all %}
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href=""><img src="{{p.img.url}}" height="300px" alt=""></a>
					</div>
					<h3>{{p.all_name}}</h3>
					<p class="product-price"><span>Per piece</span> {{p.price}} </p>
<!--					<p class="product-price"><span>OFFER</span> {{p.discount_p}} </p>-->
<!--					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
				</div>
			</div>
			{% endfor %}
	    </div>
	</div>
	<!-- end products -->

{% endblock %}